<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="/product/js"></script>
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">



        <br />
        <br />
        <br />
        <br />
        <br />



        <!-- OLD NAVBAR!!!! -->

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Mujo Smoothies</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">


          <!-- panels -->
          <div class="row">
            <div class="col-sm-4">

              <div class = "panel panel-default ">



                <div class = "panel-body">
                  <img src="&#x2F;smoothies&#x2F;kale" class="product-image">
                </div>
              </div>

            </div>


            <div class="col-sm-8">

              <div class="row">

                <div class="col-sm-12">
                  <div class = "panel panel-default smoothie-info">

                    <div class="panel-heading">

                      <h1>Kale</h1>

                    </div>

                    <div class = "panel-body text-in-panel">

                      <div class="row">
                        <div class="col-sm-8">
                          <div class="text-in-panel left-text-in-panel ">
                            <p>
                              A health focused smoothie choice that doesn&#39;t compromise on flavor or texture. (Vegan option avaliable)
                            </p>

                          </div>


                          <br />


                          <!-- fast facts row -->

                          <div class="row">
                            <div class="col-sm-4">
                              <p class="info-text-small">
                              Est. delivery:
                              </p>
                                <img src="/truck.png" class="info-img-top" />


                                <span class="info-text-medium">
                                Mar. 5
                              </span>


                            </div>

                            <div class="col-sm-4">


                                <p class="info-text-small">
                                Calories:
                                </p>

                                <img src="/icon/bottle" class="info-img-top" />

<p class="info-text-small">
                                <span class="info-text-large">
                                232
                              </span>



                            </div>

                            <div class="col-sm-4">
                              Something else...
                            </div>

                          </div>


                        </div>

                        <div class="col-sm-4 ">
                          <div class="text light-outline">
                            <h3 class="money"><span  id="price-display">$ 6.99</span> <small class="text small-stuff">+ $4.99 shipping</small></h3>


                            <br />


                            <div class="form-group">
                              <label for="sel1 text-in-panel">Size:</label>
                              <select class="form-control" id="select-size" onchange="myScript();">
                                <option>Small - 8 oz</option>
                                <option>Medium - 16 oz</option>
                                <option>Large - 30 oz</option>
                              </select>
                            </div>


                            <br />

                            <button class="btn btn-primary " type="button">Buy now!</button>

                            <!-- <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select size:
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="about-us">
                                <li><a href="#">Small</a></li>
                                <li><a href="#">Medium</a></li>
                                <li><a href="#">Large</a></li>
                              </ul>
                            </div> -->


                          </div>

                        </div>

                      </div>


                    </div>
                  </div>
                </div>

              </div>

            </div>











          </div>





          <!-- ====== NUTRITION FACTS LABEL ========= -->
          <div class="row">
            <div class="col-sm-12">

              <div class="card">
                <div class = "panel panel-default">



                  <div class="nutrition-border-space">
                  <div class="nutrition-border">





                    <!-- NOTE: current entries are for a 10oz strawberry smoothie -->


                    <div class="row nutrition-facts-label">

                      <!-- left column -->
                      <div class = "col-sm-2 no-margins-padding">

                        <h2 class="nutrition-facts-title">Nutrition Facts</h2>

                        <p class="nutrition-servings-per-container">1 serving per container</p>

                        <p class="nutrition-serving-size">Serving size: 1 bottle (8oz)</p>

                        <div class="row">
                          <div class="col-sm-7">
                            <p class="nutrition-calories-label">
                              <span class="nutrition-calories-label-bigger">Calories</span> <br /> per serving
                            </p>
                          </div>

                          <div class="col-sm-5 no-margins-padding-left">
                            <h1 class=nutrition-calories-number>232</h1>
                          </div>

                        </div>
                      </div>

                      <!-- middle column -->
                      <div class="col-sm-5">

                        <div class="row nutrition-thick-underline">
                            <div class="col-sm-6 no-margins-padding">
                              <p class="nutrition-top-label-left">Amount/serving</p>
                            </div>
                            <div class="col-sm-6 no-margins-padding">
                              <p class="nutrition-top-label-right">% Daily Value*</p>
                            </div>

                        </div>

                        <!-- single line in label -->
                        <div class="row">
                          <div class="col-sm-6 no-marigns-padding-right">
                            <p class="nutrition-info-line"><b>Total Fat</b>  5g </p>
                          </div>

                          <div class="col-sm-6 no-margins-padding-left">
                            <p class="nutrition-info-percent">8%</p>
                          </div>
                        </div>

                        <!-- saturated fat -->
                        <div class="row">
                          <div class="col-sm-6 no-marigns-padding-right">
                            <p class="nutrition-info-line nutrition-indent"> Saturated Fat  1g </p>
                          </div>

                          <div class="col-sm-6 no-margins-padding-left">
                            <p class="nutrition-info-percent">3%</p>
                          </div>
                        </div>

                        <!-- TODO: Trans fat % value will always be invisible -->
                        <!-- saturated fat -->
                        <div class="row">
                          <div class="col-sm-6 no-marigns-padding-right">
                            <p class="nutrition-info-line nutrition-indent"> <i>Trans</i> Fat  0g </p>
                          </div>

                          <div class="col-sm-6 no-margins-padding-left">
                            <p class="nutrition-info-percent" style="color: white !important;">0%</p>
                          </div>
                        </div>

                        <!-- cholesterol -->
                        <div class="row">
                          <div class="col-sm-6 no-marigns-padding-right">
                            <p class="nutrition-info-line"><b>Cholesterol</b> 0mg </p>
                          </div>

                          <div class="col-sm-6 no-margins-padding-left">
                            <p class="nutrition-info-percent">0%</p>
                          </div>
                        </div>

                        <!-- soldium -->
                        <div class="row">
                          <div class="col-sm-6 no-marigns-padding-right">
                            <p class="nutrition-info-line-thick"><b>Sodium</b> 38mg </p>
                          </div>

                          <div class="col-sm-6 no-margins-padding-left">
                            <p class="nutrition-info-percent-thick">2%</p>
                          </div>
                        </div>



                        </div>






                        <!-- ================RIGHT COL============ -->
                        <div class="col-sm-5">

                          <div class="row nutrition-thick-underline">
                              <div class="col-sm-6 no-margins-padding">
                                <p class="nutrition-top-label-left">Amount/serving</p>
                              </div>
                              <div class="col-sm-6 no-margins-padding">
                                <p class="nutrition-top-label-right">% Daily Value*</p>
                              </div>

                          </div>

                          <!-- total carb -->
                          <div class="row">
                            <div class="col-sm-6 no-marigns-padding-right">
                              <p class="nutrition-info-line"><b>Total Carbohydrate</b>  49g </p>
                            </div>

                            <div class="col-sm-6 no-margins-padding-left">
                              <p class="nutrition-info-percent">17%</p>
                            </div>
                          </div>

                          <!-- dietary fiber -->
                          <div class="row">
                            <div class="col-sm-6 no-marigns-padding-right">
                              <p class="nutrition-info-line nutrition-indent"> Dietary Fiber  12g </p>
                            </div>

                            <div class="col-sm-6 no-margins-padding-left">
                              <p class="nutrition-info-percent">45%</p>
                            </div>
                          </div>

                          <!-- total sugars -->
                          <!-- TODO: sugar % will always be white, even when not 0 -->
                          <div class="row">
                            <div class="col-sm-6 no-marigns-padding-right">
                              <p class="nutrition-info-line nutrition-indent"> Total Sugars  31g </p>
                            </div>

                            <div class="col-sm-6 no-margins-padding-left">
                              <p class="nutrition-info-percent" style="color: white !important;">0%</p>
                            </div>
                          </div>

                          <!-- added sugar -->
                          <div class="row">
                            <div class="col-sm-10 no-marigns-padding-right">
                              <p class="nutrition-info-line nutrition-double-indent">Includes 0g Added Sugars </p>
                            </div>

                            <div class="col-sm-2 no-margins-padding-left">
                              <p class="nutrition-info-percent">0%</p>
                            </div>
                          </div>

                          <!-- protein -->
                          <div class="row">
                            <div class="col-sm-6 no-marigns-padding-right">
                              <p class="nutrition-info-line-thick"><b>Protein</b> 7g </p>
                            </div>

                            <div class="col-sm-6 no-margins-padding-left">
                              <p class="nutrition-info-percent-thick">14%</p>
                            </div>
                          </div>




                          </div>


                          <div class="col-sm-10">
                            <p class="nutrition-info-line">Vitamin D 0mcg 0%  &nbsp;&nbsp; &nbsp;&nbsp;<b>•</b> &nbsp;&nbsp; &nbsp;&nbsp; Calcium 275mg 22%  &nbsp;&nbsp; &nbsp;&nbsp;<b>•</b>&nbsp;&nbsp; &nbsp;&nbsp;  Iron 23mg 13%  &nbsp;&nbsp; &nbsp;&nbsp;<b>•</b> &nbsp;&nbsp; &nbsp;&nbsp; Potassium 260mg 6% </p>

                            <p class="nutrition-small-text">
                              *The % Daily Value tells you how much a nutriet in a serving of food contributes to a daily diet. 2000 calories a day is used for general nutrition advice.
                            </p>
                          </div>

                          </div>

                      </div>



                    </div>

                    </div>

                  </div>


                </div>

              </div>
            </div>




          </div>



        </div>

      </div>

    </div>

  </div>

  <div class="bg-image"> <div class="image-darken"> </div></div>

  <!-- <div class="bg-color"> -->

</div>



</body>
</html>
