<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

      <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="container">

            <!-- NEW NAVBAR!!!! -->

            <!-- <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div> -->



          <br />
          <br />
          <br />
          <br />
          <br />



            <!-- OLD NAVBAR!!!! -->

            <div class="masthead clearfix">
              <div class="container inner">
                <h3 class="masthead-brand">Mujo Smoothies</h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Browse</a></li>
                    <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
                  </ul>
                </nav>
              </div>
            </div>

            <div class="inner cover">

              <h1 class="cover-heading">Browse Smoothies</h1>





              <br />
              <br />
              <br />
              <br />
              <br />

              <!-- panels 1st row -->
              <div class="row row-eq-height">

                <!-- strawberry smoothie -->
                <div class="col-md-3">

                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <img src="/smoothies/strawberry" class="shop-image">
                      <h3>Strawberry</h3>

                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <small>
                            The classic. The simple strawberry combined with a yogurt and milk base results in a perfect smoothie that never gets old.
                          </small>
                          <p> </p>

                          <a href="/product/strawberry" class="btn btn-primary btn-lg">View</a>
                        </div>
                     </div>
                  </div>
                </div>


                <!-- Blueberry smoothie -->
                <div class="col-md-3">

                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <img src="/smoothies/blueberry" class="shop-image">
                      <h3>Blueberry</h3>

                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <small>
                            This cool and refreshing smoothie provides a nice chill, especially on a hot day. Made with pleanty of blueberries.
                          </small>

                          <p> </p>

                          <a href="/product/blueberry" class="btn btn-primary btn-lg">View</a>
                        </div>
                     </div>
                  </div>
                </div>


                <!-- Kale smoothie -->
                <div class="col-md-3">

                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <img src="/smoothies/kale" class="shop-image">
                      <h3>Kale</h3>

                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <small>
                            A health focused smoothie choice that doesn't compromise on flavor or texture. (Vegan option avaliable)
                          </small>

                          <p> </p>

                          <a href="/product/kale" class="btn btn-primary btn-lg">View</a>
                        </div>
                     </div>
                  </div>
                </div>

                <!-- pomegranate smoothie -->
                <div class="col-md-3">

                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <img src="/smoothies/pome" class="shop-image">
                      <h3>Pomegranate</h3>

                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <small>
                            A less common smoothie that is made of pomegranate to create an unusal and exciting taste.
                          </small>

                          <p> </p>

                          <a href="/product/pomegranate" class="btn btn-primary btn-lg">View</a>
                        </div>
                     </div>
                  </div>
                </div>



            </div>






            <!-- ========== PANELS SECOND ROW ========= -->
            <div class="row row-eq-height">

              <!-- banana smoothie -->
              <div class="col-md-3">

                <div class = "panel panel-default ">

                  <div class="panel-heading">
                    <img src="/smoothies/banana" class="shop-image">
                    <h3>Banana</h3>

                  </div>

                   <div class = "panel-body">
                      <div class="text-in-panel">
                        <small>
                          Another classic. The taste of the banana combines perectally with the taste of the vanilla yogurt to form a wonderful snack.
                        </small>
                        <p> </p>

                        <a href="/product/banana" class="btn btn-primary btn-lg">View</a>
                      </div>
                   </div>
                </div>
              </div>


              <!-- strawberry banana smoothie -->
              <div class="col-md-3">

                <div class = "panel panel-default ">

                  <div class="panel-heading">
                    <img src="/smoothies/strawberrybanana" class="shop-image">
                    <h3>Strawberry Banana</h3>

                  </div>

                   <div class = "panel-body">
                      <div class="text-in-panel">
                        <small>
                          Combines the best of the best. This combination of the greatest fruits in the smoothie business creates one of our best selling smoothies.
                        </small>

                        <p> </p>

                        <a href="/product/strawberry-banana" class="btn btn-primary btn-lg">View</a>
                      </div>
                   </div>
                </div>
              </div>


              <!-- super fruit smoothie -->
              <div class="col-md-3">

                <div class = "panel panel-default ">

                  <div class="panel-heading">
                    <img src="/smoothies/superfruit" class="shop-image">
                    <h3>Super Fruit</h3>

                  </div>

                   <div class = "panel-body">
                      <div class="text-in-panel">
                        <small>
                          This smoothie features a wide variety of all of our best fruits. Contains strawberries, bananas, blueberries, and raspberries.
                        </small>

                        <p> </p>

                        <a href="/product/super-fruit" class="btn btn-primary btn-lg">View</a>
                      </div>
                   </div>
                </div>
              </div>

              <!-- banana strawberry peanut butter smoothie -->
              <div class="col-md-3">

                <div class = "panel panel-default ">

                  <div class="panel-heading">
                    <img src="/smoothies/strawbananapb" class="shop-image">
                    <h3 style="font-size: 20px;">Strawberry-Banana Peanut Butter</h3>

                  </div>

                   <div class = "panel-body">
                      <div class="text-in-panel">
                        <small>
                          An unusually tasty combination of strawberry, banana, and peanut butter to create a very thick smoothie blend.
                        </small>

                        <p> </p>

                        <a href="/product/strawberry-banana-pb" class="btn btn-primary btn-lg">View</a>
                      </div>
                   </div>
                </div>
              </div>



          </div>

          </div>

        </div>

      </div>

        <div class="bg-image"> <div class="image-darken"> </div></div>

        <!-- <div class="bg-color"> -->

        </div>



</body>
</html>
