<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

      <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="container">

            <!-- NEW NAVBAR!!!! -->

            <!-- <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div> -->

          <br />
          <br />
          <br />
          <br />
          <br />

          <br />
          <br />
          <br />
          <br />
          <br />



            <!-- OLD NAVBAR!!!! -->

            <div class="masthead clearfix">
              <div class="container inner">
                <h3 class="masthead-brand">Mujo Smoothies</h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
                  </ul>
                </nav>
              </div>
            </div>

            <div class="inner cover">

              <h1 class="cover-heading">Smoothies for you</h1>
              <p class="lead">Specality smoothies made to order. Design your own or choose one of our professionally crafted options.</p>
              <p class="lead">
                <a href="#" class="btn btn-lg btn-default">Browse Options</a>
              </p>


              <br />
              <br />
              <br />
              <br />
              <br />

              <br />
              <br />
              <br />
              <br />
              <br />

              <!-- panels -->
              <div class="row row-eq-height">
                <div class="col-md-4">
                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <h3>Fresh</h3>
                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <img src="/strawberry.png" class="card-img-top" />
                          <p>
                            All our smoothies are made from the freshest ingredients, every time.
                          </p>
                        </div>
                     </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <h3>Fast</h3>
                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <img src="/truck.png" class="card-img-top" />
                          <p>
                            Express shipping options means that your smoothies are always a moment away when you need them most.
                          </p>
                        </div>
                     </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class = "panel panel-default ">

                    <div class="panel-heading">
                      <h3>Friendly</h3>
                    </div>

                     <div class = "panel-body">
                        <div class="text-in-panel">
                          <img src="/globe.png" class="card-img-top" />
                          <p>
                            Feel good knowing your smoothies are:
                          </p>

                          <ul class="list-group left-text-in-panel">
                            <li class="list-group-item"><span class="checkmark">✔</span>Certified organic</li>
                            <li class="list-group-item"><span class="checkmark">✔</span>Non-GMO</li>
                            <li class="list-group-item"><span class="checkmark">✔</span>Sustainably sourced</li>
                            <li class="list-group-item"><span class="checkmark">✔</span>Vegan*</li>
                            <li class="list-group-item"><span class="checkmark">✔</span>Gluten Free*</li>
                          </ul>
                          <small>*Depends on ingredient choices</small>
                        </div>
                     </div>
                  </div>
                </div>




              </div>



            </div>

          </div>

        </div>

      </div>

        <div class="bg-image"> <div class="image-darken"> </div></div>

        <!-- <div class="bg-color"> -->

        </div>



</body>
</html>
