<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

      <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="container">

            <!-- NEW NAVBAR!!!! -->

            <div class="masthead clearfix">
              <nav class="navbar">
              <div class="container inner">
                <h3 class="masthead-brand">Mujo Smoothies</h3>


                  <!-- Links -->
                  <ul class="nav masthead-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Browse</a>
                    </li>
                    <li class="nav-item">
                      <button type="button" class="btn btn-default btn-lg">Create!</button>
                    </li>
                  </ul>


              </div>
              </nav>
            </div>




            <!-- OLD NAVBAR!!!! -->

            <!-- <div class="masthead clearfix">
              <div class="container inner">
                <h3 class="masthead-brand">Mujo Smoothies</h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Browse</a></li>
                    <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
                  </ul>
                </nav>
              </div>
            </div> -->

            <div class="inner cover">

              <h1 class="cover-heading">Smoothies for you</h1>
              <p class="lead">Specality smoothies made to order. Design your own or choose one of our professionally crafted options.</p>
              <p class="lead">
                <a href="#" class="btn btn-lg btn-default">Browse Options</a>
              </p>

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

        <div class="bg-image"> <div class="image-darken"> </div></div>

        <!-- <div class="bg-color"> -->

        </div>



</body>
</html>
