<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="/product/js"></script>
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">



        <br />
        <br />
        <br />
        <br />
        <br />



        <!-- OLD NAVBAR!!!! -->

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Mujo Smoothies</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">


          <!-- panels -->
          <div class="row">
            <div class="col-sm-4">

              <div class = "panel panel-default ">



                <div class = "panel-body">
                  <img src="/smoothies/strawberry" class="product-image">
                </div>
              </div>

            </div>


            <div class="col-sm-8">

              <div class="row">

                <div class="col-sm-12">
                  <div class = "panel panel-default smoothie-info">

                    <div class="panel-heading">

                      <h1>Strawberry</h1>

                    </div>

                    <div class = "panel-body text-in-panel">

                      <div class="row">
                        <div class="col-sm-8">
                          <div class="text-in-panel left-text-in-panel ">
                            <p>
                              The classic. The simple strawberry combined with a yogurt and milk base results in a perfect smoothie that never gets old.
                            </p>

                          </div>


                          <br />


                          <!-- fast facts row -->

                          <div class="row">
                            <div class="col-sm-4">
                              <p class="info-text-small">
                              Est. delivery:
                              </p>
                                <img src="/truck.png" class="info-img-top" />


                                <span class="info-text-medium">
                                Mar. 5
                              </span>


                            </div>

                            <div class="col-sm-4">


                                <p class="info-text-small">
                                Calories:
                                </p>

                                <img src="/icon/bottle" class="info-img-top" />

<p class="info-text-small">
                                <span class="info-text-large">
                                132
                              </span>



                            </div>

                            <div class="col-sm-4">
                              Something else...
                            </div>

                          </div>


                        </div>

                        <div class="col-sm-4 ">
                          <div class="text light-outline">
                            <h3 class="money"><span  id="price-display">$ 6.99</span> <small class="text small-stuff">+ $4.99 shipping</small></h3>


                            <br />


                            <div class="form-group">
                              <label for="sel1 text-in-panel">Size:</label>
                              <select class="form-control" id="select-size" onchange="myScript();">
                                <option>Small - 8 oz</option>
                                <option>Medium - 16 oz</option>
                                <option>Large - 30 oz</option>
                              </select>
                            </div>


                            <br />

                            <button class="btn btn-primary " type="button">Buy now!</button>

                            <!-- <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select size:
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="about-us">
                                <li><a href="#">Small</a></li>
                                <li><a href="#">Medium</a></li>
                                <li><a href="#">Large</a></li>
                              </ul>
                            </div> -->


                          </div>

                        </div>

                      </div>


                    </div>
                  </div>
                </div>

              </div>

            </div>











          </div>





          <!-- ====== NUTRITION FACTS LABEL ========= -->
          <div class="row">
            <div class="col-sm-12">

              <div class="card">
                <div class = "panel panel-default">



                  <div class="nutrition-border-space">
                  <div class="nutrition-border">






                    <div class="row nutrition-facts-label">
                      <div class = "col-sm-4">

                        <h2 class="nutrition-facts-title">Nutrition Facts</h2>

                        <p class="nutrition-servings-per-container">1 serving per container</p>

                        <p class="nutrition-serving-size">Serving size: 1 bottle (8oz)</p>

                        <p class="nutrition-calories-label">
                          <span class="nutrition-calories-label-bigger">Calories</span> <br /> per serving
                        </p>


                      </div>
                    </div>

                    </div>

                  </div>


                </div>

              </div>
            </div>




          </div>



        </div>

      </div>

    </div>

  </div>

  <div class="bg-image"> <div class="image-darken"> </div></div>

  <!-- <div class="bg-color"> -->

</div>



</body>
</html>
