<html>
<head>
  <title>Mujo Smoothies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/templates/style"  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">



        <br />
        <br />
        <br />
        <br />
        <br />



        <!-- OLD NAVBAR!!!! -->

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">Mujo Smoothies</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><button type="button" class="btn btn-default btn-lg">Create!</button></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">


          <!-- panels -->
          <div class="row">
            <div class="col-sm-4">

              <div class = "panel panel-default ">



                <div class = "panel-body">
                  <img src="/smoothies/strawberry" class="product-image">
                </div>
              </div>

            </div>


            <div class="col-sm-8">

              <div class="row">

                <div class="col-sm-12">
                  <div class = "panel panel-default smoothie-info">

                    <div class="panel-heading">

                      <h1>Strawberry</h1>

                    </div>

                    <div class = "panel-body text-in-panel">

                      <div class="row">
                        <div class="col-sm-8">
                          <div class="text-in-panel left-text-in-panel light-outline">
                            <small>
                              The classic. The simple strawberry combined with a yogurt and milk base results in a perfect smoothie that never gets old.
                            </small>

                          </div>
                        </div>

                        <div class="col-sm-4">
                          <p class="text">
                            <h3 class="money">$10.99 <small class="text small-stuff">+ $4.99 shipping</small></h3>

                          </p>

                        </div>

                      </div>


                    </div>
                  </div>
                </div>

              </div>

            </div>











          </div>



        </div>

      </div>

    </div>

  </div>

  <div class="bg-image"> <div class="image-darken"> </div></div>

  <!-- <div class="bg-color"> -->

</div>



</body>
</html>
